<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/jquery-form-styler@2.0.2/dist/jquery.formstyler.min.css">
		<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
		<link rel="stylesheet" href="//api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css">
		<link rel="stylesheet" href="/css/main.css?v=1567784023568">
	</head>
	<body>
		<section class="hero-slider-wrapper">
			<div class="content-wrapper">
				<header class="header">
					<div class="header__block">
						<div class="line line--on-right line--on-block-bottom" style="height: 100px;"></div><a class="header-logo" href="/"><span class="logo">
								<svg>
									<use xlink:href="/images/sprites.svg#logo"></use>
								</svg></span></a>
					</div>
					<div class="header__block">
						<button class="button js-popup-btn">Записаться на консультацию</button>
					</div>
					<div class="header__block header__block--growable header__block--row-view">
						<div class="line line--on-right line--on-block-bottom" style="height: 173px;"></div><a class="header__link header__link--active" href="#">Ru</a>
						<div class="header__divider"></div><a class="header__link" href="#">Eng</a>
					</div>
					<div class="header__block header__block--growable header__block--row-view">
						<div class="line line--on-right line--on-block-bottom" style="height: 620px;"></div>
						<!--.header__link.header__link--has-child-->
						<!--	span Services-->
						<!--	+svg('arrow').svg-icon-arrow--><a class="header__link js-go-to" href="#sectionServices">Сервисы</a><a class="header__link js-go-to" href="#sectionAbout">О нас</a><a class="header__link js-go-to" href="#sectionContacts">Контакты</a>
					</div>
					<div class="header__block header__block--growable header__block--row-view"><a class="header__link" href="tel:+74951508880">+7 495 150 8880</a>
						<div class="header__divider"></div><a class="header__link" href="tel:+79161910000">+7 916 191 0000</a>
					</div>
				</header>
				<div class="slider" id="heroSlider" v-if="activeSlide" v-cloak>
					<div class="slider__item slider-item content-padding" ref="slide">
						<div class="slider-item__image image-to-right" :style="`background-image: url('${activeSlide.mainImage}');`"></div>
						<div class="slider-item__content">
							<h2 class="slider-item__title"><span v-if="activeSlide.titleNormal" v-html="activeSlide.titleNormal"></span><span class="bordered" v-if="activeSlide.titleBordered">{{ activeSlide.titleBordered }}</span></h2>
							<div class="slider-item__by" v-if="activeSlide.by">{{ activeSlide.by }}</div>
						</div>
					</div>
					<div class="slider__pagination hide-scrollbar" ref="pagination">
						<div class="placement"><img src="/images/towers.svg">
							<svg class="svg-icon-slash">
								<use xlink:href="/images/sprites.svg#slash"></use>
							</svg><span>Москва-Сити<br>Башня «Империя»</span>
						</div>
						<div class="slider-pagination-item" v-for="(slide, index) in slides" :key="`hero-pagination_${index}`" :style="`background-image: url('${slide.thumbImage || slide.mainImage}')`" :class="{'slider-pagination-item--active': index === activeSlideNum}" @click="selectSlide(index)">
							<div class="slider-pagination-item__number">{{ getSlidePreNumber(index) }}</div>
							<div class="slider-pagination-item__inner">
								<div class="slider-pagination-item__progress" v-if="index === activeSlideNum" :style="`transform: translateX(-${100 - autoPlayProgress}%)`"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="hero-slider-wrapper__label"><span class="text">The Rubin Group</span><span class="border"></span></div>
			</div>
		</section>
		<section class="services" id="sectionServices">
			<div class="content-wrapper content-padding">
				<div class="circle circle--color-white" style="top: -28px; left: calc(50% + 37px); width: 1433px; height: 1433px; transform: translateX(-50%);"></div>
				<div class="line line--on-right line--on-block-top line--color-white" style="height: 140px;"></div>
				<div class="line line--on-block-top line--color-white _line-content" style="height: 140px;"></div>
				<div class="line line--on-left line--on-block-top line--color-white" style="height: 100%;"></div>
				<h2 class="section-title"><span>Сервисы</span><span class="logo">
						<svg>
							<use xlink:href="/images/sprites.svg#logo"></use>
						</svg></span></h2>
				<div class="services__items">
					<div class="services__item">
						<div class="services__item-number">01</div>
						<div class="services__item-title">Пластическая хирургия</div>
						<div class="services__image"><img src="/images/services/1.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
					<div class="services__item">
						<div class="services__item-number">02</div>
						<div class="services__item-title">Эндокринология</div>
						<div class="services__image"><img src="/images/services/2.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
					<div class="services__item">
						<div class="services__item-number">03</div>
						<div class="services__item-title">Гинекология</div>
						<div class="services__image"><img src="/images/services/3.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
					<div class="services__item">
						<div class="services__item-number">04</div>
						<div class="services__item-title">Косметология</div>
						<div class="services__image"><img src="/images/services/4.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
					<div class="services__item">
						<div class="services__item-number">05</div>
						<div class="services__item-title">4-П медицина</div>
						<div class="services__image"><img src="/images/services/5.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
					<div class="services__item">
						<div class="services__item-number">06</div>
						<div class="services__item-title">Премиум Сервис 24/7</div>
						<div class="services__image"><img src="/images/services/6.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
					<div class="services__item">
						<div class="services__item-number">07</div>
						<div class="services__item-title">Спа-процедуры</div>
						<div class="services__image"><img src="/images/services/7.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
					<div class="services__item">
						<div class="services__coming-soon">Скоро</div>
						<div class="services__item-number">08</div>
						<div class="services__item-title">Медицинская школа</div>
						<div class="services__image"><img src="/images/services/8.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
					<div class="services__item">
						<div class="services__coming-soon">Скоро</div>
						<div class="services__item-number">09</div>
						<div class="services__item-title">TRG Бутик</div>
						<div class="services__image"><img src="/images/services/9.svg"></div>
						<div class="services__item-arrow">
							<svg>
								<use xlink:href="/images/sprites.svg#arrow-right"></use>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="about" id="sectionAbout">
			<div class="circle circle--color-blue" style="top: 42%;  left: 69%; width: 1433px; height: 1433px; transform: translateY(-50%);"></div>
			<div class="circle circle--color-blue" style="bottom: -1073px; left: 85%; width: 1433px; height: 1433px; transform: translateX(-50%);"></div>
			<div class="content-wrapper content-padding overflow-hidden">
				<div class="line line--on-block-top line--color-blue _line-content-1" style="height: 1010px;"></div>
				<div class="line line--on-block-top line--color-blue _line-content-2" style="height: 80px;"></div>
				<div class="circle circle--color-blue" style="top: -1212px; left: 50%; width: 1433px; height: 1433px; transform: translateX(-50%);"></div>
				<h2 class="section-title">О нас</h2>
			</div>
			<div class="about-grid">
				<div class="text text--left">
					<p>
						Наша клиника основана на фундаментальном и всестороннем подходе к
						проблемам пациентов. Мы придерживаемся, внедряем и развиваем
						4П-медицину в диагностике, предупреждении и лечении самых разных
						заболеваний.
					</p>
					<p>
						Составляем комплексный план оперативно-медикаментозного
						и хирургического лечения для пациента, так же учитываем возможности
						наших коллег в Америке, Европе и Израиле.
						Располагаем всем необходимым современным оборудованием.
						
					</p>
				</div>
				<div class="image image--type-1"><img src="/images/about-1.jpg"></div>
				<div class="about-grid__divider about-grid__divider--type-1"></div>
				<div class="image image--type-2"><img src="/images/about-2.jpg"></div>
				<div class="text text--center">
					<p style="margin-left: -20px">
						Наши сильные стороны: пластическая хирургия, реконструкция, реабилитация,
						эндокринология, антивозрастная медицина, anti-age гинекология. Мы ведём
						реабилитацию  пациентов по протоколам наших американских и израильских
						партнёров.
						
					</p>
				</div>
				<div class="image image--type-3"><img src="/images/about-3.jpg"></div>
				<div class="about-grid__divider about-grid__divider--type-2"></div>
				<div class="text text--left">
					<p>
						Сотрудничаем с самыми проверенными и признанными лабораториями РФ, Германии,
						США и Израиля, что даёт нам преимущества в точности постановки диагноза и
						составления чёткого плана лечения. Мы имеем возможность проводить
						малоинвазивную хирургию по рекомендации Вашего лечащего врача (США, Европа,
						Израиль) и под его дистанционным наблюдением.
						
					</p>
				</div>
				<div class="image image--type-4"><img src="/images/about-4.jpg"></div>
				<div class="about-grid__divider about-grid__divider--type-3"></div>
				<div class="image image--type-2"><img src="/images/about-5.jpg"></div>
				<div class="text text--center">
					<p style="margin-left: -20px">
						На базе клиники мы предлагаем инъекционное лечение и капельницы,
						восстановительные коктейли, а также противовозрастные  медикаментозные
						и комплексные методы. После необходимого обследования,
						врачи нашей клиники, предложат Вам необходимые лекарственые средства,
						витамины, подберут не только лечение, но и поддерживающую терапию,
						а также питание.
						
					</p>
				</div>
				<div class="image image--type-3"><img src="/images/about-6.jpg"></div>
				<div class="about-grid__divider about-grid__divider--type-1"></div>
			</div>
			<div class="content-wrapper">
				<div class="line line--on-block-bottom-to-top line--color-blue _line-content-3" style="height: 80px;"></div>
				<div class="line line--on-block-bottom-to-top line--color-blue _line-content-4" style="height: 80px;"></div>
			</div>
		</section>
		<section class="content-slider">
			<div class="slider" id="contentSlider" v-if="activeSlide" v-cloak>
				<div class="slider__item slider-item" ref="slide">
					<div class="slider-item__image" :style="`background-image: url('${activeSlide.mainImage}');`"></div>
					<div class="slider-item__content">
						<h2 class="slider-item__title"><span v-if="activeSlide.titleNormal">{{ activeSlide.titleNormal }}</span><span class="bordered" v-if="activeSlide.titleBordered">{{ activeSlide.titleBordered }}</span></h2>
						<div class="slider-item__by" v-if="activeSlide.by">{{ activeSlide.by }}</div>
					</div>
				</div>
				<div class="slider__pagination slider__pagination--wide hide-scrollbar" ref="pagination">
					<div class="slider-pagination-item" v-for="(slide, index) in slides" :key="`hero-pagination_${index}`" :style="`background-image: url('${slide.thumbImage || slide.mainImage}')`" :class="{'slider-pagination-item--active': index === activeSlideNum}" @click="selectSlide(index)">
						<div class="slider-pagination-item__inner">
							<div class="slider-pagination-item__progress" v-if="index === activeSlideNum" :style="`transform: translateX(-${100 - autoPlayProgress}%)`"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contacts" id="sectionContacts">
			<div class="contacts__column">
				<div class="placement"><img src="/images/impare-tower.svg">
					<svg class="svg-icon-slash">
						<use xlink:href="/images/sprites.svg#slash"></use>
					</svg><span>Москва-Сити<br>Башня «Империя»</span>
				</div>
				<div class="contacts__numbers"><a href="tel:+74951508880">+7 495 150 8880</a>
					<div class="header__divider"></div><a href="tel:+79161910000">+7 916 191 0000</a>
				</div>
			</div>
			<div class="contacts__column">
				<div class="contacts__work-time">Рабочие часы: 10.00 — 19.00</div>
				<button class="button js-popup-btn"> Записаться на косультацию</button>
			</div>
		</section>
		<section class="map" id="map"></section>
		<footer class="footer"><a href="#">Условия и положения</a><span>© The Rubin Group 2019</span></footer>
		<div class="popup-outer hide-scrollbar">
			<div class="popup popup--form">
				<button class="close-button">
					<svg class="svg-icon-x">
						<use xlink:href="/images/sprites.svg#x"></use>
					</svg>
				</button>
				<div class="popup__inner">
					<div class="popup__title">Запись на консультацию</div>
					<form class="form" id="form">
						<div class="form__field form__field--expanded">
							<label class="form__label form__label--required">Ваше имя</label>
							<input class="form__input" type="text" placeholder="имя и фамилия" required autofocus>
						</div>
						<div class="form__field">
							<label class="form__label form__label--required">День рождения</label>
							<select class="form__select">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
								<option>10</option>
								<option>11</option>
								<option>12</option>
								<option>13</option>
								<option>14</option>
								<option>15</option>
								<option>16</option>
								<option>17</option>
								<option>18</option>
								<option>19</option>
								<option>21</option>
								<option>22</option>
								<option>23</option>
								<option>24</option>
								<option>25</option>
								<option>26</option>
								<option>27</option>
								<option>28</option>
								<option>29</option>
								<option>30</option>
								<option>31</option>
							</select>
						</div>
						<div class="form__field">
							<label class="form__label form__label--required">Месяц рождения</label>
							<select class="form__select">
								<option>Январь</option>
								<option>Февраль</option>
								<option>Март</option>
								<option>Апрель</option>
								<option>Май</option>
								<option>Июнь</option>
								<option>Июль</option>
								<option>Август</option>
								<option>Сентябрь</option>
								<option>Октябрь</option>
								<option>Ноябрь</option>
								<option>Декабрь</option>
							</select>
						</div>
						<div class="form__field">
							<label class="form__label form__label--required">Год рождения</label>
							<select class="form__select">
								<option>1970</option>
								<option>1971</option>
								<option>1972</option>
								<option>1973</option>
								<option>1974</option>
								<option>1975</option>
								<option>1976</option>
								<option>1977</option>
								<option>1978</option>
								<option>1979</option>
								<option>1980</option>
								<option>1981</option>
								<option>1982</option>
								<option>1983</option>
								<option>1984</option>
								<option>1985</option>
								<option>1986</option>
								<option>1987</option>
								<option>1987</option>
								<option>1988</option>
								<option>1989</option>
								<option>1990</option>
								<option>1991</option>
								<option>1992</option>
								<option>1993</option>
								<option>1994</option>
								<option>1995</option>
								<option>1996</option>
								<option>1996</option>
								<option>1997</option>
								<option>1998</option>
								<option>1999</option>
								<option>2000</option>
								<option>2001</option>
								<option>2002</option>
								<option>2003</option>
								<option>2004</option>
								<option>2005</option>
								<option>2006</option>
								<option>2007</option>
								<option>2008</option>
								<option>2009</option>
							</select>
						</div>
						<div class="form__field form__field--medium">
							<label class="form__label form__label--required">Телефон</label>
							<input class="form__input" type="tel" placeholder="введите ваш номер телефона" required>
						</div>
						<div class="form__field form__field--medium">
							<label class="form__label form__label--required">Email</label>
							<input class="form__input" type="email" placeholder="введите ваш email" required>
						</div>
						<div class="form__field form__field--medium">
							<label class="form__label form__label--required">Выберите специалиста</label>
							<select class="form__select">
								<option>Пластический хирург</option>
								<option>Хирург</option>
								<option>Косметолог</option>
								<option>Эндокринолог</option>
								<option>Гинеколог</option>
								<option>Флеболог</option>
								<option>Ультразвуковое сканирование</option>
								<option>Массажист</option>
							</select>
						</div>
						<div class="form__field form__field--expanded">
							<div class="datetimepicker" id="datetimepicker" v-cloak>
								<input class="is-hidden" id="datepicker" type="text">
								<div class="form__expander">
									<label class="form__label form__label--required">время приёма</label>
									<input class="form__input form__input--transparent" :value="resultDateTime" placeholder="Выберите предпочтительное время" required readonly tabindex="-1">
								</div>
								<div class="datetimepicker__container">
									<div class="datepicker-container"></div>
									<div class="timepicker-container" :key="updateCounter" :class="{'showed': showSelectTimeBlock}">
										<div class="date">{{ selectedDate }}</div>
										<div class="items styled-scrollbar">
											<div class="item" v-for="time in times" @click="setTime(time)" :class="{'selected': time === selectedTime}">{{ time }}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form__field form__field--expanded">
							<label class="form__label">Комментарий</label>
							<textarea class="form__input" placeholder="ваши комментарии"></textarea>
						</div>
						<div class="form__field form__field--expanded">
							<div class="form__footer">
								<input class="button js-send-form-btn" type="submit" value="Отправить"><span class="form__caption">Если вы приходите к нам в первый раз, возьмите с собой паспорт для регистрации</span>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="popup popup--result">
				<button class="close-button">
					<svg class="svg-icon-x">
						<use xlink:href="/images/sprites.svg#x"></use>
					</svg>
				</button>
				<div class="popup__inner"><img src="/images/letter.svg">
					<div class="popup__title">Заявка отправлена</div>
					<p>Спасибо за вашу заявку, наш представитель свяжется с вами в ближайшее время</p>
				</div>
			</div>
		</div>
		<script src="//cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="//cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
		<script src="//api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js"></script>
		<script src="/js/vendor.js?v=1567784023568"></script>
		<script src="/js/main.js?v=1567784023568"></script>
		<script src="//cdn.jsdelivr.net/npm/jquery-form-styler@2.0.2/dist/jquery.formstyler.min.js"></script>
	</body>
</html>